@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 880px;
    height: 320px;
    gap: 16px;
}

.container .photo {
    width: 320px;
    border-radius: 24px;
}

.container .info-container {
    background-color: black;
    border-radius: 24px;
    padding: 32px;
}

.container .info-container .stars-container {
    display: flex;
}

.container .info-container .stars-container .fa-star {
    color: gold;
}

.container .info-container .full-name {
    color: white;
    margin-top: 20px;
    font-weight: 400;
}

.container .info-container .job-info {
    color: dimgray;
    margin-top: 12px;
}

.container .info-container .review {
    color: white;
    margin-top: 24px;
}