@font-face {
    font-family: arialRounded;
    src: url(./../fonts/arialroundedmtbold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arialRounded;
    color: white;
    transition: all 0.6s ease-in-out;
}

body {
    height: 100vh;
    background-color: #BA4849;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 480px;
    height: 310px;
    background-color: rgb(255, 255, 255, 0.1);
    text-align: center;
    align-items: center;
    border-radius: 6px;
}

.container .inner-container {
    width: 80%;
    height: 100%;
    margin: 0px auto;   
    padding: 20px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container .nav {
    height: 28px;
    display: flex;
    justify-content: space-between;
}

.container .nav .nav-item {
    width: 120px;
    height: 28px;
    padding: 2px 12px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.container .nav .focus {
    background-color: rgb(0, 0, 0, 0.15);
    font-weight: bold !important;
}

.container .timer {
    font-size: 120px;
    font-weight: bold;
}

.container .start-btn {
    width: 200px;
    height: 55px;
    background-color: white;
    color: #BA4849;
    font-weight: bold;
    font-size: 22px;
    border: none;
    border-radius: 4px;
    transition: none;
}

.container .shadow {
    transform: translateY(-6px);
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
}

.audio-player {
    display: none;
}